packages/
MvcApp/bin/
WebFormsApp/Content/themes/base/minified/
WebFormsApp/Content/themes/base/
MvcApp/Content/themes/base/minified/
MvcApp/Scripts/
MvcApp/Content/themes/base/
MvcApp/App_Data/
TestApp.v11.suo
MealSchedule.Models/obj/
