@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    ViewBag.Title = "Hello Hellow boooooooy";
}

<h2>Hello Hello</h2>

<p>Hello from your views template!</p>
<ul>
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>